<mat-toolbar color="primary"><mat-icon> insert_emoticon</mat-icon>
  <span><a routerLink="/">Inbox</a></span>
  <span class="spacer"></span>
  <span class="links">
  <ul>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">
        <!-- <mat-icon>create</mat-icon> -->
        Create New</a>
    </li>
    <li>
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">
        <!-- <mat-icon>create</mat-icon> -->
        SignUp</a>
    </li>
    <li>
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">
        <!-- <mat-icon>create</mat-icon> -->
        Login</a>
    </li>
  </ul>
  </span>
</mat-toolbar>
