:host{
  display: block;
  margin-top: 20px;
}
.post-content{
  font-size: 16px;
  color: #ff00b1;
  font-weight: 500;
}
.no-post{
  margin: auto;
  text-align: center;
  font-weight: 500;
  color: grey;
}
.mat-expansion-panel-body {
padding: 16px 24px 16px!important;
}
.mat-expansion-panel-header
{
  background: #0000ff45;
}
.content-body{
  justify-content: left;
}
