:host{
  display: block;
  margin-top: 20px;
}
.post-content{
  font-size: 16px;
  color: #ff00b1;
  font-weight: 500;
}
.no-post{
  margin: auto;
  text-align: center;
  font-weight: 500;
  color: grey;
}
